This script retrives data from the following website through an API: 'https://www.okex.com' 
In particular I was interested in futures, spot and swap data of Bitcoin and Ethereum

In [1]:
import os.path
import csv

import requests
from bs4 import BeautifulSoup 
import pandas as pd
import datetime as dt

# FUTURES

In [2]:
url = 'https://www.okex.com'
data = pd.DataFrame((requests.get(url+'/api/v5/market/tickers?instType=FUTURES').json())['data'])
data = data.drop('instType', axis=1)

In [3]:
data['ts'] = pd.to_datetime(data.ts, unit='ms')

In [4]:
futures_coin_margin = ['BTC-USD-220729', 'BTC-USD-220805', 'BTC-USD-220930', 'BTC-USD-221230', 'ETH-USD-220729', 'ETH-USD-220805', 'ETH-USD-220930', 'ETH-USD-221230']

In [5]:
OKEx_FCM = data.loc[data['instId'].isin(futures_coin_margin)]

In [6]:
futures_USDT_margin = ['BTC-USDT-220729', 'BTC-USDT-220805', 'BTC-USDT-220930', 'BTC-USDT-221230', 'ETH-USDT-220729', 'ETH-USDT-220805', 'ETH-USDT-220930', 'ETH-USDT-221230']

In [7]:
OKEx_FUM = data.loc[data['instId'].isin(futures_USDT_margin)]

In [8]:
df_futures = OKEx_FCM.append(OKEx_FUM)

<ipython-input-8-03b5f77c0c3e>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_futures = OKEx_FCM.append(OKEx_FUM)

In [9]:
df_futures

Empty DataFrame
Columns: [instId, last, lastSz, askPx, askSz, bidPx, bidSz, open24h, high24h, low24h, volCcy24h, vol24h, ts, sodUtc0, sodUtc8]
Index: []

In [10]:
print(df_futures)
filename="OKEx Futures.csv"
header=True
if os.path.isfile(filename):
    header=False
df_futures.to_csv(filename, mode="a", header=header, sep=",", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="\\")

Empty DataFrame
Columns: [instId, last, lastSz, askPx, askSz, bidPx, bidSz, open24h, high24h, low24h, volCcy24h, vol24h, ts, sodUtc0, sodUtc8]
Index: []

# SPOT

In [11]:
url = 'https://www.okex.com'
data = pd.DataFrame((requests.get(url+'/api/v5/market/tickers?instType=SPOT').json())['data'])
data = data.drop('instType', axis=1)

In [12]:
data['ts'] = pd.to_datetime(data.ts, unit='ms')

In [13]:
spot = ['BTC-USDT', 'ETH-USDT']

In [14]:
OKEx_spot = data.loc[data['instId'].isin(spot)]

In [15]:
df_spot = OKEx_spot

In [16]:
df_spot

,instId,last,lastSz,askPx,askSz,bidPx,bidSz,open24h,high24h,low24h,volCcy24h,vol24h,ts,sodUtc0,sodUtc8
194,BTC-USDT,29111.7,0.0001374,29111.7,0.50037056,29111.6,0.23350222,28512.8,29284.2,28107.2,322822327.691272445,11272.31675235,2023-05-04 05:00:46.009,29033,28306.4
459,ETH-USDT,1900.97,0.012592,1900.97,0.618467,1900.96,11.095008,1862.48,1916.58,1842.78,170413577.70573045,90745.841171,2023-05-04 05:00:47.809,1905,1853.28

In [17]:
print(df_spot)
filename="OKEx Spot.csv"
header=True
if os.path.isfile(filename):
    header=False
df_spot.to_csv(filename, mode="a", header=header, sep=",", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="\\")

       instId     last     lastSz    askPx       askSz    bidPx       bidSz  \
194  BTC-USDT  29111.7  0.0001374  29111.7  0.50037056  29111.6  0.23350222
459  ETH-USDT  1900.97   0.012592  1900.97    0.618467  1900.96   11.095008

     open24h  high24h   low24h            volCcy24h          vol24h  \
194  28512.8  29284.2  28107.2  322822327.691272445  11272.31675235
459  1862.48  1916.58  1842.78   170413577.70573045    90745.841171

                         ts sodUtc0  sodUtc8
194 2023-05-04 05:00:46.009   29033  28306.4
459 2023-05-04 05:00:47.809    1905  1853.28

# SWAP

In [18]:
url = 'https://www.okex.com'
data = pd.DataFrame((requests.get(url+'/api/v5/market/tickers?instType=SWAP').json())['data'])
data = data.drop('instType', axis=1)

In [19]:
data['ts'] = pd.to_datetime(data.ts, unit='ms')

In [20]:
swap = ['BTC-USD-SWAP', 'ETH-USD-SWAP','BTC-USDT-SWAP','ETH-USDT-SWAP']

In [21]:
OKEx_swap = data.loc[data['instId'].isin(swap)]

In [22]:
df_swap = OKEx_swap

In [24]:
df_swap

,instId,last,lastSz,askPx,askSz,bidPx,bidSz,open24h,high24h,low24h,volCcy24h,vol24h,ts,sodUtc0,sodUtc8
17,BTC-USDT-SWAP,29108.1,5,29108.1,24,29108,734,28513.5,29283.1,28101.1,180503.01,18050301,2023-05-04 05:01:18.009,29038.9,28314
48,ETH-USDT-SWAP,1901.21,36,1901.21,140,1901.2,1840,1862.87,1917,1842.6,2546955.1,25469551,2023-05-04 05:01:17.709,1904.98,1853.32
98,BTC-USD-SWAP,29119.1,93,29119.2,239,29119.1,152,28531.9,29288,28119.5,19899.8955,5700261,2023-05-04 05:01:17.009,29046.6,28323.7
121,ETH-USD-SWAP,1901.16,164,1901.15,956,1901.14,4085,1864.04,1918.22,1842.6,202473.0203,37977225,2023-05-04 05:01:17.011,1906,1853.83

In [23]:
print(df_swap)
filename="OKEx SWAP.csv"
header=True
if os.path.isfile(filename):
    header=False
df_swap.to_csv(filename, mode="a", header=header, sep=",", quoting=csv.QUOTE_NONE, quotechar="",  escapechar="\\")

            instId     last lastSz    askPx askSz    bidPx bidSz  open24h  \
17   BTC-USDT-SWAP  29108.1      5  29108.1    24    29108   734  28513.5
48   ETH-USDT-SWAP  1901.21     36  1901.21   140   1901.2  1840  1862.87
98    BTC-USD-SWAP  29119.1     93  29119.2   239  29119.1   152  28531.9
121   ETH-USD-SWAP  1901.16    164  1901.15   956  1901.14  4085  1864.04

     high24h   low24h    volCcy24h    vol24h                      ts  sodUtc0  \
17   29283.1  28101.1    180503.01  18050301 2023-05-04 05:01:18.009  29038.9
48      1917   1842.6    2546955.1  25469551 2023-05-04 05:01:17.709  1904.98
98     29288  28119.5   19899.8955   5700261 2023-05-04 05:01:17.009  29046.6
121  1918.22   1842.6  202473.0203  37977225 2023-05-04 05:01:17.011     1906

     sodUtc8
17     28314
48   1853.32
98   28323.7
121  1853.83